*{
   background-color: #222;
   color: #fff;
   margin: 0;      /margin,padding,box-sizing compulsary/
   padding: 0;
   box-sizing: border-box; 
} 
nav{
display: flex;
padding: 0 40px;           
justify-content: space-between;
}
nav .logo img{
object-fit: contain;
max-width: 10%;
}
nav .series{
display: flex;
margin:10px 20px;
}
nav .series .signup{
background-color: #E50914;
color: #fff;
padding:2px 4px;
border: none;
border-radius: 2px;
cursor: pointer;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin: 0 10px;
}
nav .series .signup:hover{
background-color: #631fd0;
color:#111;
transition: 0.8ms;
}
nav .series .login{
background-color: transparent;
color:#fff;
padding: 2px 4px; 
border: 2px solid #fff;
}
nav .series .login:hover{
    background-color: #a3a3a3;
    color: #111;
    transition: 0.5ms;
}
.heading {
   font-size: 3rem;
   font-family: Arial, Helvetica, sans-serif;
   }

.name{
   font-size: 1rem;
   font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
   filter: drop-shadow(10px 10px 10px rgb(229, 255, 0));
   color: yellow;
}

.posters{
   display:flex;
   overflow-y: hidden;
   overflow-x: scroll;
   margin: 1%,0.5%;
}
.posters::-webkit-scrollbar{
   display:none;
}
.poster{
   margin: 2%  5%;
   border-radius: 0.9%;
}
.k-drama{
   padding: 9rem 0rem 0rem 10rem;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}
.Critically Acclaimed TV Shows{
   padding: 9rem 55rem 0rem 10rem;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}
h3{
   text-align: center;
   font-weight: 400;
   font-size: 1.5rem;
   padding: 2% 0;
}
footer{
   padding: 50px 4% 10px;
   color: #666;
}
footer h1{
   font-size: 1.2 rem;
   font-weight: 500;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 30px 0;
   color: #666;
}
footer .row{
   display: flex;
   align-items: start;
   padding: 10px 0;
}
footer .col{
   margin: 10px 50px;
}
footer .col a{
   color:#666;
   font-size: 0.8rem;
   padding: 8px;
   display: block;

}
footer button{
   background-color: #111;
   color: white;
   width: 100px;
   height:25px;
}